<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.photo.dao.mapper.ProvinceMapper" >
  <resultMap id="BaseResultMap" type="com.photo.bean.mapper.Province" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME
  </sql>
  <sql id="selectByParamsWhere">
		<trim suffixOverrides=" and | or">
			<where>
				<if test="id !=null">
					ID = #{id,jdbcType=VARCHAR} and
				</if>
				<if test="name !=null">
					NAME = #{name,jdbcType=VARCHAR} and
				</if>
			</where>
		</trim>
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select
		<include refid="Base_Column_List" />
	from t007_province
		<include refid="selectByParamsWhere" />
	<if test=" pageIndex != null and pageNum != null">
			limit ${pageIndex},${pageNum}
	</if>
  </select>
  
  <select id="selectCountByParams" resultType="java.lang.Integer" parameterType="java.util.Map">
		select
		count(id)
		from t007_province
		<include refid="selectByParamsWhere" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t007_province
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t007_province
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.photo.bean.mapper.Province" >
    insert into t007_province (ID, NAME)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.photo.bean.mapper.Province" >
    insert into t007_province
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.photo.bean.mapper.Province" >
    update t007_province
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.photo.bean.mapper.Province" >
    update t007_province
    set NAME = #{name,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>